/* Styling global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar Styling */
.navbar {
    width: 100%;
    
    
    padding: 10px 20px; /* Menambahkan padding untuk ruang di dalam navbar */
    display: flex;
    justify-content: flex-start; /* Menyusun logo dan menu di kiri */
    align-items: center;
    position: fixed; /* Navbar tetap di atas halaman */
    top: 0;
    left: 0;
    z-index: 100;
}

.logo img {
    margin-top: 2px;
    margin-left: 25px;
    width: 100px; /* Ukuran logo */
    margin-right: 0px; /* Memberi jarak antara logo dan menu */
}

.nav-links {
    
    list-style: none;
    display: flex;
    
}

.nav-links li {
    margin-left: 0px; /* Memberikan jarak antar item menu */
    margin-right: 40px;
}

.nav-links a {
    
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 200;
}

.nav-links a:hover {
    color: #b9b9b9; /* Efek hover */
}

/* Kontainer untuk main content */
.container {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 140px; /* Memberikan ruang untuk navbar */
    
}

.left {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
}
.left h1{
    font-size: 30px;
    margin-bottom: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
  
    font-weight: 600;
  
  
}
.left h2{
    font-size: 44.5px;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    margin-top: 0px;
}

.left p{
    font-size: 12.7px;
    color:#919191;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    margin-top: 0px;
}

.right {
    flex: 1;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    margin-top: 0px;
    
   
}

/* Styling untuk heading dan paragraph */
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: "Plus Jakarta Sans", sans-serif;
  
    font-weight: 600;
}

p {
    margin-bottom: 2em;
}

/* Styling untuk input fields */
input {
    width: 100%;
    
    padding: 10px;
    margin-bottom: 20px;
    border-width: 0.1cap;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: #919191;
    height: 50px;
    font-size: 16px;
    border-color: #CBD5E1;
    box-sizing: border-box; /* Agar padding dan margin tidak membuat elemen meluap */
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

/* Kontainer untuk input First Name dan Last Name */
.name-container {
    display: flex;
    gap: 10px;
}

.name-container input {
    flex: 1;
}

/* Styling button */
button {
    font-size: 20px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin-bottom: 20px;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}


/* Styling untuk tombol Google */
.google-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
}

.google-btn img {
    width: 35px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 6px;
}
.login{
    
    align-self: center;
}

/* Styling untuk link */
.login p {
    color: #919191;
    text-decoration: none;
    font-size: 0.9em;
    font-family:"Plus Jakarta Sans", sans-serif;
}

.login a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-family:"Plus Jakarta Sans", sans-serif;
}
